# APPROACH B: Network Config PackageVariant for my-core
#
# This REPLACES the old Approach A pattern of:
#   - network-intents-my-core.yaml
#   - nad-renderer-my-core.yaml
#
# Key difference: NetworkIntents are embedded in the package,
# not injected. nad-fn processes them directly = NADs generated!

apiVersion: config.porch.kpt.dev/v1alpha1
kind: PackageVariant
metadata:
  name: network-config-my-core
  namespace: default
spec:
  upstream:
    repo: nephio-blueprints-approachb
    package: networking/network-config
  downstream:
    repo: nephio-my-core
    package: network-config
  pipeline:
    mutators:
      - image: gcr.io/kpt-fn/apply-setters:v0.2
        configMap:
          # Cluster-specific network configuration for my-core
          control-plane-range: "192.168.30.0/24"
          control-plane-gateway: "192.168.30.1"
          control-plane-vlan: "0"
          user-plane-range: "192.168.40.0/24"
          user-plane-gateway: "192.168.40.1"
          user-plane-vlan: "0"
          interface-name: "eth0"
          mtu: "1500"
          cni-type: "macvlan"
          macvlan-mode: "bridge"
          target-namespace: "free5gc"
      # nad-fn generates NADs from embedded NetworkIntents
      - image: docker.io/nephio/nad-fn:v3.0.0
        configPath: nad-renderer-config.yaml
